.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    overflow: hidden;
  }
  
.carousel img {
max-width: 95%;
object-fit: contain;
pointer-events: none; 
}

.button {
position: absolute;
z-index: 2;
border: none;
width: 15%; /* Make the button area WIDE */
font-size: 6rem;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
border-radius: .25rem;
padding: 0 .5rem;
background-color: rgba(0,0,0,.1);
}

.button.left {
left: 20;
}

.button.right {
right: 20;
}

/* Optional: Button hover effect */
/* .carousel-button:hover {
background: rgba(0, 0, 0, 0.4);
} */
