.body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    padding-bottom: 200px;
    color-scheme: light dark;
    color: #4997D0;
    background-color: #faf9f6;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
    padding-bottom: 15%;
    font-size: 2rem;
  }
  
  .subheaderWrapper {
    display: block;
  }

@media (max-width: 768px) {
  .subheaderWrapper {
    display: none;
  }
}
  
  