#root {
  min-height: 100vh;
  flex-direction: column;
}
  
.footer {
  height: 450px; 
  background-color: #4997D0; 
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

/* Title */
.header {
  color: #faf9f6;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

/* Headers on Left */
.leftB {
  text-align: left;
  color: #DAA520;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Text on Left */
.leftP {
  text-align: left;
  color: #faf9f6;
  text-decoration: none;
  font-size:20px;
  margin-bottom: 10px;
}

/* Text on Right */
.rightP{
  text-align: left;
  color: #faf9f6;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* headers on right */
.rightB {
  color: #C7EA46;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.leftListIn{
  list-style: none;
  align-items: left;
}

.leftListOut{
  list-style: none;
  align-items: left;
  margin-left: 15%;
}

.rightListOut{
  list-style: none;
  margin-right: 10%;
}

.rightListIn{
  list-style: none;
  margin-right: 10%;
}

.navLists {
  display: flex;
  justify-content: space-between;
}

.footNav {
  margin-top: 10px;
}

.footNav ul li {
  display: list-item;
  white-space: nowrap;
}

.socialsList {
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: flex-start;
  padding: 0;
  margin-left: 10px;
}

.wrap {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #d1eaff;
  border-radius: 50%;
  z-index: 0;
}

.wrap a {
  position: relative;
  z-index: 1;
}

.mobileFooterNav {
  display: none;
}

@media (max-width: 768px) {
    .footNav {
      display: none;
    }

    .footer {
      height: 900px; 
      background-color: rgb(31, 29, 29); 
      flex-direction: column;
      width: 100%;
      padding-top: 20px;
    }

    .mobileFooterNav {
      margin-top: 10px;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .mobileFooterNav ul {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .mobileFooterNav ul li {
      display: list-item;
      white-space: nowrap;
      text-align: center;
      width: 100%;
    }

    .mobileB {
      color: #D90000;
      text-decoration: none;
      font-size: 26px;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }

    .mobileP {
      text-align: center;
      color: #D90000;
      text-decoration: none;
      font-size:20px;
      margin-bottom: 10px;
    }

    .socialsListMobile {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      gap: 0;
    }

    .mobileWrap {
      position: relative;
      width: 10px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-left: 40%;
    }

    .mobileCircle {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #d1eaff;
      border-radius: 50%;
      z-index: 0;
      
    }

    .mobileWrap i {
      position: relative;
      z-index: 1;
      line-height: 1;
      
    }
  }