#root {
  min-height: 100vh;
  flex-direction: column;
}
  
.footer {
  height: 450px; 
  background-color: rgb(31, 29, 29); 
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

.header {
  color: #D90000;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

.leftB {
  text-align: left;
  color: #D90000;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

.leftP {
  text-align: left;
  color: #D90000;
  text-decoration: none;
  font-size:20px;
  margin-bottom: 10px;
}

.rightP{
  text-align: right;
  color: #D90000;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.rightB {
  color: #D90000;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.leftListIn{
  list-style: none;
  align-items: left;
}

.leftListOut{
  list-style: none;
  align-items: left;
  margin-left: 15%;
}

.rightList{
  list-style: none;
  margin-right: 10%;
}

.navLists {
  display: flex;
  justify-content: space-between;
}

.footNav {
  margin-top: 10px;
}

.footNav ul li {
  display: list-item;
  white-space: nowrap;
}

.socialsList {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}