  .header {
    width: 100%; 
    position: sticky;
    top: 0;
    left: 0;
    height: 180px; 
    background-color: #faf9f6; 
    z-index: 1000; 
    box-shadow: 0px 20px 30px rgba(189, 189, 189, 0.3);
    /* (x, y, shadow_thickness, color) */
  }
  
  /* The header contents IE logo and buttons*/
  /* nav { 
    display: flex;
    align-items: center;
    background-color: #faf9f6;
    gap: 13%; 
    margin-left: 20%;
  } */

  .desktopNav {
    display: flex;
    align-items: center;
    background-color: #faf9f6;
    gap: 13%; 
    margin-left: 20%;
  }
  
  /* Where the button are */
  .desktopNav ul {
    list-style: none;
    display: flex;
    text-align: center;
    width: 100%;
    gap: 5%;
  }
  
  /* Button Attributes */
  .desktopNav ul li {
    display: inline-block;
    margin: 10px 20px;
  }
  
  /* Button text attributes */
  .desktopNav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Hovering buttons */
  .desktopNav ul li a:hover {
    color: aqua;
  }
  
  .logo { 
    margin-top: 1em;
    height: 9em;
    cursor: pointer;
    margin-left: 20%;
  }