  .header {
    width: 100%; 
    position: sticky;
    top: 0;
    left: 0;
    height: 180px; 
    background-color: #faf9f6; 
    z-index: 1000; 
    box-shadow: 0px 20px 30px rgba(189, 189, 189, 0.3);
    /* (x, y, shadow_thickness, color) */
  }
  
  /* The header contents IE logo and buttons*/
  .desktopNav { 
    display: flex;
    align-items: center;
    background-color: #faf9f6;
    gap: 5%; 
    margin-left: 20%;
    justify-content: space-between;
  }
  
  /* Where the button are */
  .desktopNav ul {
    list-style: none;
    display: flex;
    text-align: center;
    width: 100%;
    gap: 5%;
  }
  
  /* Button Attributes */
  .desktopNav ul li {
    display: inline-block;
    margin: 10px 20px;
  }
  
  /* Button text attributes */
  .desktopNav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Hovering buttons */
  .desktopNav ul li a:hover {
    color: aqua;
  }
  
  .desktopNav .logo { 
    margin-top: 1em;
    height: 9em;
    cursor: pointer;
    margin-left: 20%;
  }

  .desktopNav .langButton {
    background: none;
    border: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    color: black;
  }

  .mobileNav {
  display: none;
  }

  @media (max-width: 768px) {
    .desktopNav {
      display: none;
    }

    .mobileNav { 
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;  /* centers the logo */
      padding: 1rem;
      background-color: #faf9f6;
    }

    .mobileNav .logo { 
      margin-top: 1em;
      height: 9em;
      cursor: pointer;
    }

    .mobileNav .hamMenu {
      position: absolute;     /* position it independently */
      left: 2rem;
      z-index: 9999;
      background: none;
      border: none;
      cursor: pointer;
      top: 40%;
    }

    .mobileNav .hamMenu i {
      font-size: 3rem;
      color: black;
    }

    .offScreenMenu {
      background-color:#faf9f6;
      height: 100vh;
      width: 100%;
      max-width: 250px;
      position: fixed;
      top: 180px;
      left: 0;
      right: -250px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;   
      text-align: left;
      font-size: 3rem;
      transition: .3s ease;
      transform: translateX(-100%);
      padding-left: 10px;
    }

    .offScreenMenu.active {
      transform: translateX(0);
    }

    .offScreenMenu ul li {
      list-style: none;
      padding-left: 0;
    }
    
      /* Button Attributes */
    .offScreenMenu ul li {
      margin: 2px 10px;
    }
    
    /* Button text attributes */
    .offScreenMenu ul li a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 18px;
    }

    .offScreenMenu .langButton {
      background: none;
      border: 1px solid black;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      cursor: pointer;
      font-size: 1rem;
      color: black;
    }
}