#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 
  
.subfooter {
  height: 55px;
  background-color:  #04c274;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.paragraph {
  color: #faf9f6;
  text-decoration: none;
  font-size: 15px;
}