#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 
    
.subheader {
  top: 0;
  height: 35px;
  background-color:  #04c274;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}
  
.paragraph {
  color: #faf9f6;
  text-decoration: none;
  font-size: 13px;
  margin-left: 20%;
  white-space: nowrap;
}

.subheaderNav {
  list-style: None;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

 .subheaderNav ul {
  width: 100%;
  gap: 0.5%;
  padding: 0;
  margin: 0;
 }

.subheaderNav ul li {
  display: inline-block;
  margin: 3%;
}

i{
  color: #faf9f6;
  cursor: pointer;
}

.logo {
  margin: 0;
  padding: 0;
  height: 1em;
  cursor: pointer;
}