#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 
    
.subheader {
  top: 0;
  height: 35px;
  background-color:  #DAA520;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}
  
.paragraph {
  color: #faf9f6;
  text-decoration: none;
  font-size: 15px;
  margin-left: 20%;
}